<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>HotelCreator</title>
</head>
<body>

<div class="container-fluid">
  <div class="row" >
    <div class="col" th:insert="~{fragments.html :: navbar}"></div>
  </div>
  <div class ="container text-center mt-5" >
    <H1>Add new hotel</H1>
       <form th:method="post" th:action="@{/hotels/create}" th:object="${newHotel}">
      <div class="form-floating mb-3" >
        <input type="text" th:field="*{name}" class="form-control" id="floatingInput" placeholder="name">
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        <label for="floatingInput">Name</label>
      </div>
      <div class="form-floating mb-3" >
        <input type="number" step="0.01" th:field="*{basicPriceOfRoom}" class="form-control" id="floatingInput2" placeholder="Basic price of room">
        <p th:if="${#fields.hasErrors('basicPriceOfRoom')}" th:errors="*{basicPriceOfRoom}"></p>
        <label for="floatingInput">Basic price of room</label>
      </div>
      <div class="form-floating mb-3" >
        <input type="text" th:field="*{city}" class="form-control" id="floatingInput3" placeholder="city">
        <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></p>
        <label for="floatingInput">City</label>
      </div>
      <div class="form-floating mb-3" >
        <input type="text" th:field="*{street}" class="form-control" id="floatingInput4" placeholder="Street">
        <p th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></p>
        <label for="floatingInput">Street</label>
      </div>
      <div class="form-floating mb-3" >
        <input type="text" th:field="*{home}" class="form-control" id="floatingInput5" placeholder="Home">
        <p th:if="${#fields.hasErrors('home')}" th:errors="*{home}"></p>
        <label for="floatingInput">Home</label>
      </div>
      <div class="form-floating mb-3" >
          <select th:field="*{region}" class="form-select" id="select-region" aria-label="Default select example">
          <option selected value="">Select region</option>
          <option th:each="region:${regions}" th:value="${region.name}" th:text="${region.name}"></option>
        </select>
        <p th:if="${#fields.hasErrors('region')}" th:errors="*{region}"></p>
      </div>
           <select th:field="*{typeByStars}" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <p th:if="${#fields.hasErrors('typeByStars')}" th:errors="*{typeByStars}"></p>
        <option selected value="">Select hotel type by stars</option>
        <option value="ONE_STAR">*</option>
        <option value="TWO_STAR">**</option>
        <option value="THREE_STAR">***</option>
        <option value="FOUR_STAR">****</option>
        <option value="FIVE_STAR">*****</option>
      </select>
         <p th:if="${#fields.hasErrors('typeByStars')}" th:errors="*{typeByStars}"></p>
      <select th:field="*{typeByTargetMarket}" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected value="">Select hotel type by target market</option>
        <option value="BUSINESS">BUSINESS</option>
        <option value="AIRPORT">AIRPORT</option>
        <option value="RESORT">RESORT</option>
        <option value="CITY">CITY</option>
        <option value="FAMILY">FAMILY</option>
        <option value="ADULT_ONLY">ADULT_ONLY</option>
      </select>
         <p th:if="${#fields.hasErrors('typeByTargetMarket')}" th:errors="*{typeByTargetMarket}"></p>
         <div class="mb-3">
           <label for="exampleFormControlTextarea1" class="form-label">Description</label>
           <textarea th:field="*{description}" class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea><p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
         </div>
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit">Create</button>
      </div>
    </form>
  </div>
  <div class ="row">
    <div class="col mb-1" th:insert="~{fragments.html::bottom}"></div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>