<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <meta charset="UTF-8">
  <title>Room details</title>
</head>
<body>
<div class="container-fluid">
  <div class="row" >
    <div class="col" th:insert="~{fragments.html :: navbar}"></div>
  </div>
  <div class ="container text-container p-5" >
    <form th:method="post" th:action="@{/rooms/prebook}" th:object="${currentRoom}">
      <div class="form-floating mb-3" >
        <input type="hidden" th:field="*{id}" class="form-control" id="floatingInput20" placeholder="destination" readonly="readonly">
         </div>
      <div class="form-floating mb-3" >
        <input type="text" th:field="*{destination}" class="form-control" id="floatingInput0" placeholder="destination" readonly="readonly">
        <label for="floatingInput">Destination</label>
      </div>
      <div class="form-floating mb-3" >
        <input type="text" th:field="*{region}" class="form-control" id="floatingInput7" placeholder="region" readonly="readonly">
        <label for="floatingInput">Region</label>
      </div>
      <div class="form-floating mb-3" >
        <input type="text" th:field="*{hotelName}" class="form-control" id="floatingInput6" placeholder="Hotel name" readonly="readonly">
        <label for="floatingInput">Hotel name</label>
      </div>
      <div class="form-floating mb-3" >
        <input type="number" th:field="*{number}" class="form-control" id="floatingInput" placeholder="number" readonly="readonly">
        <label for="floatingInput">Number</label>
      </div>
      <div class="form-floating mb-3" >
        <input type="number" th:field="*{numOfTourist}" class="form-control" id="floatingInput1" placeholder="numOfTourist" readonly="readonly">
        <label for="floatingInput">Number of tourist</label>
      </div>
      <div class="form-floating mb-3" >
        <input type="text" th:field="*{typesByOccupancy}" class="form-control" id="floatingInput5" placeholder="Type by occupancy" readonly="readonly">
        <label for="floatingInput">Type by occupancy</label>
      </div>
      <div class="form-floating mb-3" >
        <input type="text" th:field="*{typesByView}" class="form-control" id="floatingInput11" placeholder="Type by view" readonly="readonly">
        <label for="floatingInput">Type by view</label>
      </div>
      <div class="form-floating mb-3" >
        <input type="date" th:field="*{checkIn}" class="form-control" id="floatingInput3" placeholder="Check in" readonly="readonly">
        <label for="floatingInput">Check in</label>
      </div>
      <div class="form-floating mb-3" >
        <input type="date" th:field="*{checkOut}" class="form-control" id="floatingInput2" placeholder="Check out" readonly="readonly">
        <label for="floatingInput">Check out</label>
      </div>
      <div class="form-floating mb-3" >
        <input type="number" step="0.01" th:field="*{price}" class="form-control" id="floatingInput8" placeholder="Price" readonly="readonly">
        <label for="floatingInput">Price</label>
      </div>
      <div class="form-floating mb-3" >
        <input type="text" th:field="*{boardBases}" class="form-control" id="floatingInput9" placeholder="Board bases" readonly="readonly">
        <label for="floatingInput">Board bases</label>
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit">PREBOOK</button>
      </div>
        </form>
  </div>
  <div class ="row">
    <div class="col mb-1" th:insert="~{fragments.html::bottom}"></div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>